openkb.ini
openkb
netkb
*.*~
*.o
*.a
*.exe
*.dll
*.patch
*.diff
src/tools/kbcc
src/tools/kbview
src/tools/kbrowse
src/tools/kbmaped
src/tools/unexepack
src/tools/unexecomp
*.vo
*.6
stderr.txt
stdout.txt
.DS_Store


src/config.h.in
